<p>
  <strong>Exposure:</strong>
  <%= @monument.exposure %><br/>
  <strong>Exposed Faces:</strong>
  <%= @monument.exp_faces %><br/>
  <strong>Orientation:</strong>
  <%= @monument.face_orient %><br/>
  <strong>Material Type:</strong>
  <%= @monument.material %><br/>
  <strong>Number of Blocks:</strong>
  <%= @monument.num_block %><br/>
  <strong>Height:</strong>
  <%= @monument.dim_height %><br/>
  <strong>Width:</strong>
  <%= @monument.dim_width %><br/>
  <strong>Depth:</strong>
  <%= @monument.dim_depth %><br/>
  <strong>Decay Factor:</strong>
  <%= @monument.decay_factors %><br/>
</p>
