<div class="inner-container">
  <div class="row">
    <div class="container-fluid">
      <div class="row-fluid">
	<!-- contains monument information -->
	<div class="span8">
	  <!-- images container -->
	  <div class="span5">
	    <div class="img-main">
	      <% if @monument.photo_URL.nil? %>
	      <%= image_tag("http://placehold.it/260x364") %> 
	      <% end %>
	    </div>
	  </div>
	  <!-- content container -->
	  <div class="span6">
	    <div class="rounded-div">
	      <ul class="nav nav-tabs">
		<h4>Monument Information</h4>
	      </ul>
	      <span>
		<%= render 'monuments/basic_fields' %>
	      </span>
	    </div>
	    <br/>
	    <div class="rounded-div">
	      <ul class="nav nav-tabs">
		<h4>Burial List</h4>
	      </ul>
	      <%= render 'monuments/related_burials' %>
	    </div>
	  </div>
	  
	  <!-- Statistical information -->
	  <div class="span11">
	    <div class="rounded-div">
	      <ul class="nav nav-tabs">
		<h4>Statistical Information</h4>
	      </ul>
	      <span>
		<% if signed_in? %>
		  <%= render 'monuments/stat_fields' %>
		<% else %>
		<div class="alert alert-info">
		  Hey There,
		  <strong><%= link_to 'SIGN UP', signup_path %></strong>
		  today for an Account to View Statistical Information!
		</div>
		<% end %>
	      </span>
	    </div>
	  </div>

	</div>	  

	<!-- contains search features -->
	<div class="span4">
	  <%= render 'monuments/filters_sidebar' %>
	</div>

      </div>
    </div>
  </div>
</div>
