<p>
  <strong>Birth Date:</strong>
  <%= @burial.birth_date %><br/>
  <strong>Death Date:</strong>
  <%= @burial.death_date %><br/>
  <strong>Sex:</strong>
  <%= @burial.sex %><br/>
  <strong>Birth Place:</strong>
  <%= @burial.birth_place %><br/>
  <strong>Occupation:</strong>
  <%= @burial.occupation %><br/>
  <strong>Cemetery:</strong>
  <% if @burial.cem_lev_id %>
      <%= link_to cemetery_path(:id => @burial.cem_lev_id) do %>
          <%= @burial.cemetery.cem_name %>
      <% end %>
  <% else %>
  <div class="alert alert-info">
    Burial not associated with a Cemetery
  </div>
  <% end %><br/>
  <strong>County:</strong>
  <% if @burial.county_id %>
      <%= @burial.county.name %>
  <% else %>
  <div class="alert alert-info">
    Burial not associated with a County
  </div>
  <% end %><br/>
</p>
