<span>
  <p>
    <strong>Number of Related Burials:</strong>
    <%= @burial.monument.num_indiv %><br/>
    <strong>Memorial Date:</strong>
    <%= @burial.monument.mem_date %><br/>
    <strong>Related Burials:</strong><br/>
    <% @burial.monument.burials.each do |b| %>
      <%= link_to burial_path(:id => b.id_indiv_lev) do %>
          <%= b.last_name %>, <%= b.first_name %><br/>
      <% end %>
    <% end %>
  </p>
</span>
<!-- accordion style for more monument information -->
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#mon_collapse" data-toggle="collapse" class="accordion-toggle">
	<h5>>>Load More Fields</h5>
      </a>
    </div>
    <!-- accordion style for more information -->
    <div class="accordion-body collapse" id="mon_collapse">
      <div class="accordion-inner">
	<p>
	  <strong>Exposure:</strong>
	  <%= @burial.monument.exposure %><br/>
	  <strong>Exposed Faces:</strong>
	  <%= @burial.monument.exp_faces %><br/>
	  <strong>Orientation:</strong>
	  <%= @burial.monument.face_orient %><br/>
	  <strong>Material Type:</strong>
	  <%= @burial.monument.material %><br/>
	  <strong>Number of Blocks:</strong>
	  <%= @burial.monument.num_block %><br/>
	  <strong>Height:</strong>
	  <%= @burial.monument.dim_height %><br/>
	  <strong>Width:</strong>
	  <%= @burial.monument.dim_width %><br/>
	  <strong>Depth:</strong>
	  <%= @burial.monument.dim_depth %><br/>
	  <strong>Decay Factor:</strong>
	  <%= @burial.monument.decay_factors %><br/>
	</p>
      </div>
    </div>
  </div>
</div>
