<%= will_paginate(@burials, :params => params.except(:page)) %>
<!-- table encompassing search results -->
<table class="table table-bordered table-hover">
  <tbody>
    <td>
      <strong>Last Name</strong>
    </td>
    <td>
      <strong>First Name</strong>
    </td>
    <td>
      <strong>Cemetery</strong>
    </td>
    <td>
      <strong>County</strong>
    </td>
    <% @burials.each do |b| %>
    <tr class="row-clickable" href=<%= burial_path(:id => b.id_indiv_lev) %>>
      <td>
	<%= b.last_name %>
      </td>
      <td>
	<%= b.first_name %>
      </td>
      <td>
	<%= b.cemetery.cem_name %>
      </td>
      <td>
	<%= b.county.name %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate(@burials, :params => params.except(:page)) %>

