<h1>Burial Search</h1>
<%= form_for :burial, url: search_results_burials_path do |b|%>
<p>
  <%= b.label "Given Name:" %>
  <%= b.text_field(:first_name) %>
</p>
<p>
  <%= b.label "SurName:" %>
  <%= b.text_field(:last_name) %>
</p>
<p>
  <%= b.label "Gender:" %>
  <%= b.radio_button(:sex,"M") %>
  <%= b.label "Male", :class => "radio inline" %>
  <%= b.radio_button(:sex,"F") %>
  <%= b.label "Female", :class => "radio inline" %>
</p>
<p>
  <%= b.label "Birth Year:" %>  
</p>
<p>
  <%= b.label "Death Year:" %>  
</p>
<!-- Advanced Searcher -->
<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#adv_collapse" data-toggle="collapse" class="accordion-toggle">
      <h5>Advanced Search</h5>
    </a>
  </div>
  <!-- accordion style for more information -->
  <div class="accordion-body collapse" id="adv_collapse">
    <div class="accordion-inner">
      <p>
	<%= b.label "Place of Birth:" %>
	<%= b.text_field(:birth_place) %>
      </p>
      <p>
	<%= b.label "Occupation" %>
	<%= b.text_field(:occupation) %>
      </p>
    </div>
  </div>
</div>
<!-- Filters -->
<div class="accordion-group">
  <div class="accordion-heading">
    <a href="#collapse3" data-present="#search_accordion" data-toggle="collapse" class="accordion-toggle">
      <h5>Burial Filter Options</h5>
    </a>
  </div>
  <div class="accordion-body collapse" id="collapse3">
    <div class="accordion-inner">
      <!-- use max INT size in ruby for default ALL -->
      <%= label_tag "# of Results" %>
      <%= select_tag 'limit',options_for_select([['All',2147483647],['1',1],['<=10',10]],2147483647) %>
	  <%= label_tag "Order Results" %>
	  <%= select_tag 'order',options_for_select([['Surname',:last_name],['FirstName',:first_name]],:last_name) %>
    </div>
  </div>
</div>
<!-- submit button for burial search -->
</br>
<p                     >
  <%= b.submit "Search Burials", class: "btn btn-large btn-primary" %>
  <%= b.submit "Reset Form", :type => "reset" %>
</p>

<% end %> <!-- burial form -->
