<div class="container-fluid">
  <div class="row-fluid">
    <h1>Submit Burial Data</h1>
    <%= form_for :burial, url: burials_path do |b| %>
    <% if signed_in? %>
       <%= b.hidden_field :user_id, :value => current_user.id %>
    <% end %>
    <p>
      <%= b.label "First Name:" %>
      <%= b.text_field :first_name %>
    </p>
    <p>
      <%= b.label "Last Name:" %>
      <%= b.text_field :last_name %>
    </p>
    <p>
      <%= b.label "Cemetery:" %>
      <%= b.collection_select(:cem_lev_id, Cemetery.all, :id_cem_lev, :cem_name, :prompt => "Select a Cemetery") %>
    </p>
    <p>
      <%= b.label "County:" %>
      <%= b.collection_select(:county_id, County.all, :id_county, :name, :prompt => "Select a County") %>
    </p>
    <br/>
    <p>
      <%= b.submit "Submit Burial Record", class: "btn btn-large btn-primary" %>
      <%= b.submit "Reset Form", :type => "reset", class: "btn btn-danger" %>
    </p>
    <% end %>
  </div>
</div>
