<div class="inner-container">
  <div class="row">
    <div class="container-fluid">
      <div class="row-fluid">
	<!-- contains burial information -->
	<div class="span8">
	  <!-- images container -->
	  <div class="span5">
	    <!-- placeholder for main gravestone image (16:9) -->
	    <div class="img-main">
	      <% if @burial.photo_URL.blank? %>
	      <div class="alert alert-notice bur-alert">
		Picture for 
		<strong>
		  <%= @burial.last_name %>, <%= @burial.first_name %>
		</strong>
		is unavailable at the moment
		<% unless get_contr_from_id(@burial).nil? %> 
		   <% if get_contr_from_id(@burial).contr_id == 9 %>
		   , but we do have a source link: <br/>
		   <%= link_to 'Photo Source', photo_link(@burial), :target => "_blank" %>
		   <% end %>
		<% end %>
	      </div>
	      <% else %>
	        <%= link_to image_tag(@burial.photo_URL), photo_link(@burial), :target => "_blank" %>
	      <% end %>
	    </div>
	  </div>
	  <!-- content container -->
	  <div id="right-info-container" class="span6">
	    <div class="rounded-div">
	      <ul class="nav nav-tabs">
		<%= render :partial => 'shared/approved', :locals => {:object => @burial} %>
		<h4>
		  <%= @burial.last_name %>, <%= @burial.first_name %>
		</h4>
	      </ul>
	      <span>
		<%= render 'burials/basic_fields' %>
	      </span>
	    </div>
	    <br/>
	    <!-- inscription container -->
	    <div id="inscription" class="rounded-div">
	      <ul class="nav nav-tabs">
		<h4>Inscription</h4>
	      </ul>
	      <span>
		<p style='text-align: center;'>
		  <% if @burial.monument %>
		  <%= @burial.monument.insc_transc %>
		  <% else %>
		  No Inscription Available at this Time
		  <% end %>
		</p>
	      </span>
	    </div>
	  </div>

	  <!-- monument info container -->
	  <div id="advanced-container" class="span11">
	    <div class="rounded-div">
	      <ul class="nav nav-tabs">
		<h4>Monument Info</h4>
	      </ul>
	      <% if signed_in? %>
	          <% if @burial.monument %>
                      <%= render 'burials/monument_fields' %>
		   <% else %>
		   <div class="alert alert-info">
		     No Monuments are related to this Burial
		   </div>
		   <% end %>
	      <% else %>
	      <br/>
	      <div class="alert alert-info">
		To view Monument Record Information,
		<strong><%= link_to 'SIGN UP', signup_path %></strong>
		today for an Account!
	      </div>
	      <% end %>
	    </div>
	  </div>
	  
	</div>

	<!-- contains search features -->
	<div class="span4">
	  <%= render 'burials/burial_sidebar' %>
	</div>

      </div>
    </div>
  </div>
</div>
