<div class="inner-container">

  <div id="indiv_container" class="two-col-common">
    <!-- container holds image(s) for individual burials -->
    <div class="indiv_imgs two-col-common">
      <!-- placeholder for main gravestone image -->
      <div class="img-main">
	<% if @burial.photo_URL.nil? %>
	<%= image_tag("http://placehold.it/280x392") %> 
	<% else %>
	<% page_link = photo_link(@burial)  %>
	<%= link_to image_tag(@burial.photo_URL), photo_link(@burial), :target => "_blank" %>
	<% end %>
      </div>
      <!-- placeholder for thumbnail gallery -->
      <div class="img-thumbs">
        <img class="img-thumb" src="http://placehold.it/192x143" alt="" />
        <img class="img-thumb" src="http://placehold.it/192x143" alt="" />
        <img class="img-thumb" src="http://placehold.it/192x143" alt="" />
	<img class="img-thumb" src="http://placehold.it/192x143" alt="" />
      </div>
    </div>
    <!-- container containing all individual information for current burial -->
    <div id="indiv_info" class="two-col-common rounded-div">
      <ul class="nav nav-tabs">
	<h4>
	  <%= @burial.last_name %>, <%= @burial.first_name %>
	</h4>
      </ul>
      <span>
	<p>
	  <strong>Birth Date</strong>
	  <%= @burial.birth_date %>
	</p>
	<p>
	  <strong>Death Date</strong>
	  <%= @burial.death_date %>
	</p>
	<p>
	  <strong>Sex</strong>
	  <%= @burial.sex %>
	</p>
	<p>
	  <strong>Birth Place</strong>
	  <%= @burial.birth_place %>
	</p>
	<p>
	  <strong>Occupation</strong>
	  <%= @burial.occupation %>
	</p>
      </span>

    </div> <!-- indiv_info -->
    
    <!-- inscription container for each burial -->
    <div id="inscription" class="rounded-div">
      <ul class="nav nav-tabs">
	<h4>Inscription</h4>
      </ul>
      <span>
	<p>
	  <% if @burial.monument %>
	  <%= @burial.monument.insc_transc %>
	  <% else %>
	  No Inscription Available at this Time
	  <% end %>
	</p>
      </span>
    </div>

    <!-- monument info container -->
    <div id="mon_info" class="rounded-div">
      <ul class="nav nav-tabs">
	<h4>Monument Info</h4>
      </ul>
      <% if signed_in? %>
         <%= render 'burials/monument_fields' %>
      <% else %>
      <br/>
      <div class="alert alert-info">
	To view Monument Record Information,
	<strong><%= link_to 'SIGN UP', signup_path %></strong>
	today for an Account!
      </div>
      <% end %>
    </div> <!-- mon_info -->


  </div>

  <!-- individual burial side bar options -->
  <div id="burial_sidebar" class="two-col-common sidebar">
    <%= render 'burial_sidebar' %>
  </div>

</div>
