<div id="search_sidebar" class="sidebar">
  <div id="search_accordion" class="accordion">
    <!-- Cemetery Search -->
    <div class="accordion-group">
      <div class="accordion-heading">
	<a href="#collapse1" data-present="#search_accordion" data-toggle="collapse" class="accordion-toggle">
	  <h4>Cemetery Search</h4>
	</a>
      </div>
      <div class="accordion-body collapse in" id="collapse1">
	  <div class="accordion-inner">
	    <%= form_for :cemetery, url: search_results_cemeteries_path do |c| %>
	    <p>
	      <%= c.label "Cemetery Name" %>
	      <%= c.text_field :cem_name %>
	      <%= select_tag 'cem_name_opt',
		  options_for_select([['Keyword',:keyword],
		  ['Starts With',:starts],
		  ['Ends With',:ends],
		  ['Exact',:exact]],:keyword) %>
	    </p>
	    <p>
	      <%= c.label "Full Address" %>
	      <%= c.text_field :address %>
	      <%= select_tag 'address_opt',
		  options_for_select([['Keyword',:keyword],
		  ['Starts With',:starts],
		  ['Ends With',:ends],
		  ['Exact',:exact]],:keyword) %>
	    </p>
	    <p>
	      <%= c.submit "Search Cemeteries", class: "btn btn-primary" %>
	    </p>
	    <% end %> <!-- cemtery form -->
	  </div>
      </div>
    </div>
    <!-- burial search -->
    <div class="accordion-group">
      <div class="accordion-heading">
	<a href="#collapse2" data-present="#search_accordion" data-toggle="collapse" class="accordion-toggle">
	  <h4>Burial Search</h4>
	</a>
      </div>
      <div class="accordion-body collapse" id="collapse2">
	  <div class="accordion-inner">
	    <%= form_for :burial, url: search_results_burials_path do |b|%>
	    <p>
	      <%= b.label "Individual's First Name" %>
	      <%= b.text_field :first_name %>
	    </p>
	    <p>
	      <%= b.label "Individual's Last Name" %>
	      <%= b.text_field :last_name %>
	    </p>	    
	    <!-- submit button for burial search -->
	    <p>
	      <%= b.submit "Search Burials", class: "btn btn-primary" %>
	    </p>
	    <% end %> <!-- burial form -->

	 </div>
      </div>
    </div>


  </div> <!-- search_accordion -->


</div> <!-- side bar search -->


