
<div class="inner-container">
  <h1><%= title %></h1>
  <div class="container-fluid">
    <div class="row-fluid">
      <!-- sidebar with query information and search options -->
      <div class="span3">
	<h4>Searched Terms:</h4>
	<hr/>
	<p>
	  <% if params %>
            <% params.each do |key,val| %>
	      <% unless val.blank? %>
	          <strong><%= val %></strong><br/>
	      <% end %>
	    <% end %>
	  <% end %>
	</p>
      </div>
      <!-- main content, table of search results -->
      <div class="span9">
	<%= render :partial => 'shared/results_range', :locals => {:object => object} %>
	<!-- render partial and pass object to generate table -->
	<%= render :partial => table, :locals=> {:object => object} %>
      </div>

    </div>
  </div>
</div>

<!-- included personal JS files to perform different tasks -->
<%= javascript_include_tag "custom/table_rows" %>
