<!-- accordion layout for cem_sidebar -->
<div id="search_accordion" class="accordion">
    <!-- burial search -->
    <div class="accordion-group">
      <div class="accordion-heading">
	<a href="#collapse1" data-present="#search_accordion" data-toggle="collapse" class="accordion-toggle">
	  <h4>Burial Search</h4>
	</a>
      </div>
      <div class="accordion-body collapse" id="collapse1">
	 <div class="accordion-inner">
	   <%= form_for :burial, url: search_burials_path do |b|%>
	   <!-- add hidden field to add cemetery tag if present -->
	   <%= b.hidden_field :cem_lev_id, :value => params[:id] %>
	   <p>
	     <%= b.label "Individual's First Name" %><br>
	     <%= b.text_field :first_name %>
	   </p>
	   <p>
	     <%= b.label "Individual's Last Name" %><br>
	     <%= b.text_field :last_name %>
	   </p>

	   <!-- Filters -->
	   <div class="accordion-group">
	      <div class="accordion-heading">
		<a href="#collapse3" data-present="#search_accordion" data-toggle="collapse" class="accordion-toggle">
		  <h4>Burial Filter Options</h4>
		</a>
	      </div>
	      <div class="accordion-body collapse" id="collapse3">
		<div class="accordion-inner">
		  <!-- use max INT size in ruby for default ALL -->
		  <%= label_tag "# of Results" %>
		  <%= select_tag 'limit',options_for_select([['All',2147483647],['1',1],['<=10',10]],2147483647) %>
		  <%= label_tag "Order Results" %>
		  <%= select_tag 'order',options_for_select([['Surname',:last_name],['FirstName',:first_name]],:last_name) %>
		</div>
	      </div>
	    </div>

	    <!-- submit button for burial search -->
	    </br>
	    <p>
	      <%= b.submit "Search Burials" %>
	    </p>
	    <% end %> <!-- burial form -->
	 </div>
      </div>
    </div>
    <!-- list of all graves within the cemetery -->
    <div class="accordion-group">
      <div class="accordion-heading">
	<a href="#collapse2" data-present="#search_accordion" data-toggle="collapse" class="accordion-toggle">
	  <h4>Burial List</h4>
	</a>
     </div>
     <div class="accordion-body collapse" id="collapse2">
	 <div class="accordion-inner">
	   <% @cemeteries.burials.each do |b| %>
	   <div class="rounded-div">
	     <span>
	     <p>
	       <strong>First Name</strong>
	       <%= b.first_name %>
	     </p>
	     <p>
	       <strong>Last Name:</strong>
	       <%= b.last_name %>
	     </p>
	     </span>
	     <!-- link to individual burial page (show method) -->
	     <%= link_to '', burial_path(:id => b.id_indiv_lev), :class => 'div-clickable' %>
	   </div>
	   <br>
	   <% end %>
	 </div>
      </div>
    </div>

</div>
