<p>
  <strong>Latitude:</strong>
  <%= @cemetery.lat %><br/>
  <strong>Longitude:</strong>
  <%= @cemetery.long %><br/>
  <strong>Accessible to the Public?</strong>
  <%= @cemetery.public %><br/>
  <strong>Number of Entrances:</strong>
  <%= @cemetery.num_entrance %><br/>
  <strong>Related Parish(s):</strong><br/>
  <%= @cemetery.parish %><br/>
</p>
