
<h1>Cemetery Listing</h1>

<% @cemeteries.each do |cem| %>
<div class="rounded-div">
  <span>
   <p>
     <strong>Cemetery CID:</strong>
     <%= cem.cemCID %>
   </p>

   <p>
     <strong>Cemetery Name:</strong>
     <%= cem.cemName %>
   </p>

   <p>
     <strong>Cemetery Approval:</strong>
     <%= cem.cemApproved %>
   </p>

   <p>
     <strong>Last Updated:</strong>
     <%= cem.cemUpdated %>
   </p>
   </span>
  <!-- to make div clickable, use CSS, pass key :id to query for clicked data-->
  <%= link_to '', cemetery_path(:id => cem.cemID), :class => 'div-clickable' %>
</div>
<br>
<% end %>
