<h1>Cemetery Search</h1>
<%= form_for :cemetery, url: search_results_cemeteries_path do |c| %>
<p>
  <%= label_tag("Search Term Options:") %>
  <%= radio_button_tag(:search_opt,"keyword",true) %>
  <%= label_tag("Keyword",nil,:class => "radio inline") %>
  <%= radio_button_tag(:search_opt,"exact") %>
  <%= label_tag("Exact Match",nil,:class => "radio inline") %>
</p>
<br/>
<p>
  <%= c.label "Cemetery Name:" %>
  <%= c.text_field :cem_name %>
</p>
<p>
  <%= c.label "Full Address:" %>
  <%= c.text_field :address %>
</p>
<p>
  <%= c.label "County:" %>
  <%= c.collection_select(:county_id, County.all, :id_county, :name, :prompt => "Select a County") %>
</p>
<p>
  <%= submit_tag("Search Cemeteries") %>
</p>
<% end %> <!-- cemtery form -->
