<div class="container-fluid">
  <div class="row-fluid">
    <h1>Cemetery Search</h1>
    <%= form_for :cemetery, url: search_results_cemeteries_path do |c| %>
    <!-- main search form (has overriden class values) -->
    <div class="span7">
      <!-- no results rendered if appropreiate -->
      <%= render 'shared/results_errors' %>
      <p>
        <%= c.label "Cemetery Name:" %>
	<%= c.text_field :cem_name %>
	<%= select_tag 'cem_name_opt',
	    options_for_select([['Keyword',:keyword],
	    ['Starts With',:starts],
	    ['Ends With',:ends],
	    ['Exact',:exact]],:keyword) %>
      </p>
      <p>
	<%= c.label "Full Address:" %>
	<%= c.text_field :address %>
	<%= select_tag 'address_opt',
	    options_for_select([['Keyword',:keyword],
	    ['Starts With',:starts],
	    ['Ends With',:ends],
	    ['Exact',:exact]],:keyword) %>
      </p>
      <p>
	<%= c.label "County:" %>
	<%= c.collection_select(:county_id, County.all, :id_county, :name, :prompt => "Select a County") %>
      </p>
      <br/>
      <p>
       	<%= c.submit "Search Cemeteries", class: "btn btn-large btn-primary" %>
	<%= c.submit "Reset Form", :type => "reset", class: "btn btn-danger" %>
      </p>

    </div> <!-- main form -->

    <!-- filter sidebar -->
    <div class="span3">
      <h5>Cemetery Filter Options</h5>
      <p>
	<!-- use max INT size in ruby for default ALL -->
	<%= label_tag "# of Results" %>
	<%= select_tag 'limit',options_for_select([['All',2147483647],['1',1],['<=10',10]],2147483647) %>
	<%= label_tag "Order Results" %>
	<%= select_tag 'order',options_for_select([['Cemetery Name',:cem_name],
	                                          ['County Name',"name"]],:cem_name) %>
      </p>

    </div>


    <% end %> <!-- cemtery form -->

  </div> <!-- fluid-row -->

</div> <!-- container-fluid -->
