<br>
<div class="rounded-div">
   <p>
     <strong>Cemetery CID:</strong>
     <%= @cemeteries.cemCID %>
   </p>

   <p>
     <strong>Cemetery Name:</strong>
     <%= @cemeteries.cemName %>
   </p>

   <p>
     <strong>Cemetery Approval:</strong>
     <%=  @cemeteries.cemApproved %>
   </p>

   <p>
     <strong>Last Updated:</strong>
     <%=  @cemeteries.cemUpdated %>
   </p>
   <br>

   <%= link_to 'Back', :back %>
</div>
<br>

<!-- display all gravestones associated with a cemetery,
  embed countyID within photo string -->
<!-- NOTE: this is bad, long, complicated and ugly, need to fix -->
<% @cemeteries.gravestones.each do |grave|
       url = "http://www.canadianheadstones.com/ab"
       photo = "#{url}/photos/#{@cid['CT_PhotoPath']}/#{grave.photoURL}"
       page = "#{url}/view.php?id=#{grave.groupid}"%>
<div class="rounded-div">
   <p>
     <strong>FirstName:</strong>
     <%= grave.first %>
   </p>

   <p>
     <strong>LastName:</strong>
     <%= grave.last %>
   </p>
   <p>
     <strong>Cemetery:</strong>
     <%= grave.cemetery %>
   </p>
   <p>
     <strong>CemeteryID:</strong>
     <%= grave.cemeteryID %>
   </p>
   <p>
     <strong>Comments:</strong>
     <%= grave.comments %>
   </p>
   <a href=<%= page %> target="_blank" alt="">
     <img class="img-grave" src=<%= photo %>></img>
   </a>
</div>
<br>
<% end %>
