<div class="inner-container">
  <!-- dashboard navigation tab -->
  <ul id="dash_tabs" class="nav nav-tabs">
    <li>
      <%= link_to 'Profile', current_user %>
    </li>
    <li>
      <%= link_to 'Submitted Records', users_submitted_data_path(current_user) %>
    </li>
    <li class="active">
      <%= link_to 'All Cemeteries', '#' %>
    </li>
  </ul>

  <div class="container-fluid">
    <div id="dash_container" class="row-fluid">
      <h1>Cemetery Listing</h1>
      <%= render :partial => 'shared/results_range', :locals => {:object => @cemeteries} %>
      <%= render 'cemeteries/results_table' %>
    </div>
  </div>

</div>

<!-- included personal JS files to perform different tasks -->
<%# javascript_include_tag "custom/tabs_dashboard" %>
<%= javascript_include_tag "custom/table_rows" %>
