
<div class="inner-container">
  <div class="row">
    <div class="container-fluid">
      <h1><%= @cemetery.cem_name %></h1>
	
      <div class="row-fluid">
	<!-- contains cemetery map and information -->
	<div class="span8">
	  <div id="layout_map" class="map">
	    <div>
	      <!-- NOTE: min-height required for map -->
	      <div id="map" style='min-height: 540px;'>
		<% if @cemetery.lat == nil && @cemetery.long == nil %>
		   <div class="alert alert-notice cem-alert">
		     No Map Available for 
		     <strong><%= @cemetery.cem_name %></strong>
		     Cemetery, but we are working on it!
		   </div>
		<% end %>
	      </div>
	    </div>
	  </div>

	  <!-- Cemetery Infomation -->
	  <div id="cem-container" class="span11">
	    <div class="rounded-div">
	      <ul class="nav nav-tabs">
		<%= render :partial => 'shared/approved', :locals => {:object => @cemetery} %>
		<h4>Cemetery Information</h4>
	      </ul>
	      <span>
		<%= render 'cemeteries/basic_fields' %>
	      </span>
	      <!-- accordion style for more information -->
	      <% if signed_in? %>
	      <div class="accordion">
		<div class="accordion-group">
		  <div class="accordion-heading">
		    <a href="#cem_collapse" data-toggle="collapse" class="accordion-toggle">
		      <h5>>>Load More Fields</h5>
		    </a>
		  </div>
		  <!-- accordion style for more information -->
		  <div class="accordion-body collapse" id="cem_collapse">
		    <div class="accordion-inner">
		      <%= render 'cemeteries/cem_more_fields' %>
		    </div>
		  </div>
		</div>
	      </div>
	      <% else %>
	      <br/>
	      <div class="alert alert-info">
		Hey There,
		<strong><%= link_to 'SIGN UP', signup_path %></strong>
		today for an Account to Load More Record Fields!
	      </div>
	      <% end %>
	    </div>

	  </div>

	  <!-- burial and Monument lists container -->
	  <div id="list-container" class="span11">
	    <div id="burial-list" class="rounded-div list-contents">
	      <ul class="nav nav-tabs">
		<h4>Burial List</h4>
	      </ul>
	      <div class="burial-list-contents">
		<%= render 'cemeteries/related_burials' %>
	      </div>
	    </div>
	    <div id="monument-list" class="rounded-div list-contents">
	      <ul class="nav nav-tabs">
		<h4>Monument List</h4>
	      </ul>
	      <div class="mon-list-contents">
		<%= render 'cemeteries/related_monuments' %>
	      </div>
	    </div>
	    
	  </div>

	</div>

	<!-- Search Feautures -->
	<div class="span4">
	  <%= render 'cemeteries/cem_sidebar' %>
	</div>

      </div>
    </div>
  </div>
</div>

<!-- JS script to Generate Google Map for each individual cemetery -->

<% if @cemetery.lat? && @cemetery.long? %>
<script type="text/javascript">
  var mapOptions = {
  // Long and Lat for specified cemetery
  center: new google.maps.LatLng(<%= @cemetery.lat%>,<%=@cemetery.long %>),
  mapTypeId: google.maps.MapTypeId.SATELLITE,
  zoom: 14
  };    
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: mapOptions, internal: {id: 'map'}}, function(){
  // add single marker for given cemetery based on the id
  markers = handler.addMarkers(<%=raw add_markers(@cemetery).to_json %>); 
  //handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  });
</script>
<% end %>
