<br>
<div class="rounded-div">
   <p>
     <strong>Cemetery ID:</strong>
     <%= @cemeteries.id_cem_lev %>
   </p>

   <p>
     <strong>Cemetery Name:</strong>
     <%= @cemeteries.cem_name %>
   </p>

   <p>
     <strong>Last Updated:</strong>
     <%=  @cemeteries.date_updated %>
   </p>
   <br>

   <%= link_to 'Back', :back %>
</div>
<br>

<% @cemeteries.burials.each do |b| %>
<div class="rounded-div">
   <p>
     <strong>First Name</strong>
     <%= b.first_name %>
   </p>

   <p>
     <strong>Last Name:</strong>
     <%= b.last_name %>
   </p>

   <p>
     <strong>Cemetery ID</strong>
     <%= b.cem_lev_id %>
   </p>

</div>
<br>

<% end %>
