<!DOCTYPE html>
<html>
<head>
  <title>Alberta Historical Cemeteries Project</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <!-- Include latest jQuery UI file-->
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
</head>
<body>

<!-- page wrapper to encompass all body content -->
<div id="page_wrapper">
<!-- === HEADER === -->
<%= render 'layouts/header' %>

<!--<div class="container">-->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <!-- render specified view given from loaded action -->
    <div id="page_main">

      <%= yield %>

    <!--== end of page_main ==-->
    </div>

<!--</div>-->
<!-- === FOOTER === -->
<%= render 'layouts/footer' %>
<!--== end of page_wrapper ==-->

<!-- some debug info for page generation -->
<!--< debug(params) if Rails.env.development? >-->

</div>
  <!-- included personal JS files to perform different tasks -->
  <%= javascript_include_tag "tabs" %>

</body>
</html>
