<!DOCTYPE html>
<html>
<head>
  <title>Alberta Historical Cemeteries Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <!-- Include latest jQuery UI file-->
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- page wrapper to encompass all body content -->
<div id="page_wrapper">
<!-- === HEADER === -->
<%= render 'layouts/header' %>
  <!-- render specified view given from loaded action -->
  <div id="page_main">

    <%= yield %>

  <!--== end of page_main ==-->
  </div>

<%= render 'layouts/footer' %>
<!-- === FOOTER === -->
<!--== end of page_wrapper ==-->
</div>


</body>
</html>
